# Gas Price estimation

REPORT_GAS=false
GAS_TOKEN=ETH
GAS_PRICE_API=https://api.etherscan.io/api?module=proxy&action=eth_gasPrice
COINMARKETCAP_DEFAULT_CURRENCY=USD
# https://coinmarketcap.com
COINMARKETCAP_API_KEY=<COINMARKETCAP_API_KEY>

# Mainnet forking

# https://www.alchemy.com
export MAINNET_HTTPS_URL=https://eth-mainnet.alchemyapi.io/v2/<ALCHEMY API KEY>

# Naming for the USDC Savings Vault
NAME='USDC Savings Vault'
SYMBOL='USV'